<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{!-- CSS links --}}
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">

    {{!-- FONTS links --}}
    <link rel="stylesheet" href="https://use.typekit.net/mrs6qim.css">

    {{!-- favicon  --}}
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>

    <title>My Favourite Places</title>

</head>

<body id="bcg1">
{{!-- HEADER --}}
    <header>
        <p id="description1">
            {{ Description }}
        </p> 
    </header>

{{!-- MAIN --}}
    <main>
        <section>
            <div class="info_section">
                {{!-- fauna - xilitla --}}
                <div>
                    <img class="image" src="images/{{FaunaImg}}" alt="Falcon">
                </div>
                <div>
                    <h1 class="title">Fauna</h1>
                    <p>
                        {{ FaunaDescription }} 
                    </p>
                </div>

                {{!-- flora - xilitla --}}
                <div>
                    <img class="image" src="images/{{FloraImg}}" alt="Herbaceous Plant">
                    <h1 class="title">Flora</h1>
                </div>
                <div>
                    <p>
                        {{ FloraDescription }}
                    </p>
                </div>
            </div>
        </section>
    
    </main>

{{!-- FOOTER  --}}
    <footer>
        <a class="error-home-places" href="/">Back Home!</a>
        <div>
            <h3 class="copyrights">Copyrights © Dana Marin</h3>
        </div>
    </footer>

</body>
</html>